.ionslide-perfil{

}
.ionslide1 .perfil-image{
  max-width:300px;
}

.ionslide1 .ioncard_p{
  font-size:16px;margin-top:5px
}

.ionslide2 .ion_button{

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:10;
}

.ionslide2 .input_file{
  width:0;
  height:0;
  display:none;
}

.ionslide2 .image{
  max-width:300px;
  opacity:0.3;
}

//no funciona en global.scss
.hint_novalid{
  color:#ff5480
}
