<ion-header [translucent]="true">
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" class="c_white"></ion-back-button>
    </ion-buttons>
    <ion-title class="title2">
      INICIAR SESIÓN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="favorite2 login">
  <div class="image" >
    <img src="assets/logobxrs_completoG.png" />
  </div>
  <ion-card class="login_card" color="dark">
    <ion-card-header>
      <ion-card-title class="t_center f_bold">
        Iniciar sesión
      </ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field>
              <mat-label >E-Mail</mat-label>
              <input matInput name="email" formControlName="email" />
              <mat-icon matSuffix>email</mat-icon>

              <mat-hint *ngIf="!form.controls.email.value && form.controls.email.touched;  else hint" class="hint_novalid">Debe introducir un correo</mat-hint>

              <ng-template #hint >
                <mat-hint *ngIf="form.controls.email.value && !form.controls.email.valid && form.controls.email.touched; else hint3" class="hint_novalid">Debe introducir un correo válido</mat-hint>
              </ng-template>

              <!--<ng-template #hint3>
                <mat-hint style="color:#ff5480">Correo electrónico</mat-hint>
              </ng-template>-->

            </mat-form-field>
          </div>
          <div ></div>
          <div>
            <mat-form-field>
              <mat-label >Password</mat-label>
              <input matInput name="password" formControlName="password" />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-hint *ngIf="!form.controls.password.value && form.controls.password.touched;else hintPassword" class="hint_novalid">Debe introducir una contraseña</mat-hint>
              <ng-template #hintPassword>
                <mat-hint *ngIf="form.controls.password.value && !form.controls.password.valid && form.controls.password.touched;" class="hint_novalid">Mínimo 8 caracteres</mat-hint>
              </ng-template>
            </mat-form-field>
          </div>
          <div class="clearL w100 high5"></div>

          <ion-row>
            <ion-col >
              <button type="submit" mat-raised-button class="favorite_button" [disabled]="!form.valid">
                ENVIAR
              </button>
            </ion-col>
            <!--<ion-col>
              <a mat-raised-button href="#" color="primary" [routerLink]="['/register']">Registrarse</a>
            </ion-col>-->
          </ion-row>
        </form>
    </ion-card-content>
  </ion-card>
</ion-content>

