<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      Usuarios
      <a [routerLink]="['/add']">
          <ion-icon name="add-circle-outline" style="float:right"></ion-icon>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list >
    <mat-accordion *ngFor="let user of users">
      <div >
        <mat-expansion-panel *ngIf="!user.visible" hideToggle disabled>
          <mat-expansion-panel-header>
            <mat-panel-title>
            <ion-item  >
              <ion-avatar slot="start" *ngIf="user.image">
                <img style="max-width:300px" src="{{url+'image-user/'+user.image.name}}" />
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="!user.image">
                <img src="assets/icons/person.png" />
              </ion-avatar>
            </ion-item>
          </mat-panel-title>
          <mat-panel-description >
            <ion-item style="margin-top:1%;">
                <p>{{user.nick}}</p>
            </ion-item>
          </mat-panel-description>
          <ion-item style="margin-top:1%;cursor:pointer" title="Siguiendo" (click)="testFollow(user._id,'unfollow')"  background="transparent" *ngIf="testFollowing(user._id)">
            <ion-icon name="star" style="pointer-events:none;z-index:999"></ion-icon>
          </ion-item>
          <ion-item style="margin-top:1%;cursor:pointer" title="Seguir" (click)="testFollow(user._id,'follow')"  background="trasnparent" *ngIf="!testFollowing(user._id)">
            <ion-icon name="star-outline" style="pointer-events:none;z-index:999"></ion-icon>
          </ion-item>
          <!-- añadimos el indicador y ocultamos con opacity para alinear -->
          <span class="mat-expansion-indicator" style="opacity:0"></span>
          <!--probando testVisibility()-->
          <!--<button (click)="testVisibility(user._id)">boton</button>-->
          </mat-expansion-panel-header>
          asdfsdf

        </mat-expansion-panel>
        <!-- añadimos clickButton para no abrir el desplegable al clicar el icono de seguir o dejar de seguir-->
        <mat-expansion-panel  *ngIf="user.visible" [disabled]="clickButton" (click)="clickButton=false">
          <mat-expansion-panel-header>
            <mat-panel-title>
            <ion-item  >
              <ion-avatar slot="start" *ngIf="user.image">
                <img src="{{url+'image-user/'+user.image.name}}" />
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="!user.image">
                <img [src]="'assets/icons/person.png'" />
              </ion-avatar>
            </ion-item>
          </mat-panel-title>
          <mat-panel-description>
            <ion-item style="margin-top:1%">
                <p>{{user.nick}}</p>
          </ion-item>
          </mat-panel-description>
          <!-- añadimos el indicador y ocultamos con opacity para alinear -->
          <ion-item style="margin-top:1%;z-index:999;" title="Dejar de seguir" (click)="testFollow(user._id,'unfollow',true)" *ngIf="testFollowing(user._id)">
            <ion-icon name="star" style="pointer-events:none"></ion-icon>
          </ion-item>
          <ion-item style="margin-top:1%;z-index:999;" title="Seguir" (click)="testFollow(user._id,'follow',true)" *ngIf="!testFollowing(user._id)">
            <ion-icon name="star-outline" style="pointer-events:none"></ion-icon>
          </ion-item>
          <!--probando testVisibility()-->
          <!--<button (click)="testVisibility(user._id)">boton</button>-->
          </mat-expansion-panel-header>
          <ion-item *ngIf="user.visible.name">
            {{user.name}}
          </ion-item>
          <ion-item *ngIf="user.visible.surname">
            {{user.surname}}
          </ion-item>
          <ion-item *ngIf="user.visible.email">
            {{user.email}}
          </ion-item>
          <ion-item *ngIf="user.visible.city">
            {{user.city}}
          </ion-item>
          <ion-item *ngIf="user.visible.phone">
            {{user.phone}}
          </ion-item>

        </mat-expansion-panel>

      </div>
    </mat-accordion>
    <ion-row>
      <ion-col>
        <ion-button (click)="moreUsers()" *ngIf="!switchMore" style="display:block">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>


<mat-accordion>
        <mat-expansion-panel>

            <!--
            <mat-panel-title>
              hola
            </mat-panel-title>
            <mat-panel-description>
              adios
            </mat-panel-description>
          -->
          <ion-item  >
            <ion-avatar slot="start">
              <img [src]="'assets/icons/person.png'" />
            </ion-avatar>
            <ion-label>
              <h3>nombre</h3>
            </ion-label>
            <ion-label>
              <p>item.email</p>
            </ion-label>


          </ion-item>

        </mat-expansion-panel>
        <!--<mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-expansion-panel-header>
              Self
            </mat-expansion-panel-header>
            <mat-panel-description>
              Currently
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>-->
    </mat-accordion>

  <!--<ion-list >
        <ion-avatar slot="start">
          <img [src]="'assets/icons/person.png'" />
        </ion-avatar>
        <ion-label>
          <h3>{{item.name}}</h3>
        </ion-label>
        <ion-label>
          <p>{{item.email}}</p>
        </ion-label>


      </ion-item>

  </ion-list>-->

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
