<ion-header [translucent]="true" >
  <ion-toolbar color="favorite">
    <ion-thumbnail slot="start" class="thumb_toolbar">
      <img src="assets/logobxrs_completoG.png" />
    </ion-thumbnail>
    <ion-title class="title2">
      USUARIOS
      <!--<a [routerLink]="['/add']">
          <ion-icon name="add-circle-outline" style="float:right"></ion-icon>
      </a>-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="favorite2">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="users" >
    <ion-list  class="ion-list-tab2" >
      <mat-accordion >
        <div *ngFor="let user of users" >
          <mat-expansion-panel *ngIf="!user.visible" hideToggle disabled class="mathover" >
            <mat-expansion-panel-header class="mat-header-tab2" >
              <mat-panel-title class="mat-title-tab2" >
              <ion-item  >
                <ion-avatar slot="start" *ngIf="user.image" >
                  <img class="ion-avatar-img-tab2"  src="{{url+'image-user/'+user.email+'/'+user.image.name}}" />
                </ion-avatar>
                <ion-avatar slot="start" *ngIf="!user.image">
                  <img class="ion-avatar-img-tab2" src="assets/icons/person.png" />
                </ion-avatar>
              </ion-item>
            </mat-panel-title>
            <mat-panel-description class="t_center">
              <ion-item class="ionitem-tab2" >
                  <p>{{user.nick}}</p>
              </ion-item>
            </mat-panel-description>
            <ion-item class="ionitem-tab2" title="Siguiendo" (click)="testFollow(user,'unfollow')"  background="transparent" *ngIf="testFollowing(user._id)">
              <ion-icon name="star" class="ion_icon"></ion-icon>
            </ion-item>
            <ion-item class="ionitem-tab2" title="Seguir" (click)="testFollow(user,'follow')"  background="trasnparent" *ngIf="!testFollowing(user._id)">
              <ion-icon name="star-outline" class="ion_icon"></ion-icon>
            </ion-item>
            <!-- añadimos el indicador y ocultamos con opacity para alinear -->
            <span class="mat-expansion-indicator" class="indicator_hidden"></span>
            <!--probando testVisibility()-->
            <!--<button (click)="testVisibility(user._id)">boton</button>-->
            </mat-expansion-panel-header>


          </mat-expansion-panel>
          <!-- añadimos clickButton para no abrir el desplegable al clicar el icono de seguir o dejar de seguir-->
          <mat-expansion-panel  *ngIf="user.visible" [disabled]="clickButton" (click)="clickButton=false" class="mathover" >
            <mat-expansion-panel-header class="mat-header-tab2">
              <mat-panel-title class="mat-title-tab2">
              <ion-item  >
                <ion-avatar slot="start" *ngIf="user.image">
                  <img class="ion-avatar-img-tab2" src="{{url+'image-user/'+user.email+'/'+user.image.name}}" draggable="false" />
                </ion-avatar>
                <ion-avatar slot="start" *ngIf="!user.image">
                  <img class="ion-avatar-img-tab2" [src]="'assets/icons/person.png'" draggable="false"/>
                </ion-avatar>
              </ion-item>
            </mat-panel-title>
            <mat-panel-description>
              <ion-item class="ionitem-tab2">
                  <p>{{user.nick}}</p>
            </ion-item>
            </mat-panel-description>
            <!-- añadimos el indicador y ocultamos con opacity para alinear -->
            <ion-item class="ionitem-tab2" title="Dejar de seguir" (click)="testFollow(user,'unfollow',true)" *ngIf="testFollowing(user._id)">
              <ion-icon name="star" class="ion_icon"></ion-icon>
            </ion-item>
            <ion-item class="ionitem-tab2" title="Seguir" (click)="testFollow(user,'follow',true)" *ngIf="!testFollowing(user._id)">
              <ion-icon name="star-outline" class="ion_icon"></ion-icon>
            </ion-item>
            <!--probando testVisibility()-->
            <!--<button (click)="testVisibility(user._id)">boton</button>-->
            </mat-expansion-panel-header>
            <ion-item *ngIf="user.visible.name" class="item-visibility-user" >
              <p>Información de usuario</p>
            </ion-item>
            <ion-item *ngIf="user.visible.name" class="item-visibility">
              <ion-label class="label-visibility-title">
                Nombre
              </ion-label>
              <ion-label class="label-visibility">
                {{user.name}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="user.visible.surname" class="item-visibility">
              <ion-label class="label-visibility-title">
                Apellidos
              </ion-label>
              <ion-label class="label-visibility">
                {{user.surname}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="user.visible.email" class="item-visibility">
              <ion-label class="label-visibility-title">
                E-Mail
              </ion-label>
              <ion-label class="label-visibility">
                {{user.email}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="user.visible.city" class="item-visibility">
              <ion-label class="label-visibility-title">
                Ciudad
              </ion-label>
              <ion-label class="label-visibility">
                {{user.city}}
              </ion-label>
            </ion-item>
            <ion-item *ngIf="user.visible.phone" class="item-visibility">
              <ion-label class="label-visibility-title">
                Teléfono
              </ion-label>
              <ion-label class="label-visibility">
                {{user.phone}}
              </ion-label>
            </ion-item>

          </mat-expansion-panel>

        </div>
      </mat-accordion>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="moreUsers()" *ngIf="!switchMore" style="display:block">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>


  <div *ngIf="!users">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label >
          <p>
            <ion-skeleton-text animated class="skeleton_label"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </div>


    <!--<mat-accordion>
        <mat-expansion-panel>
          <ion-item  >
            <ion-avatar slot="start">
              <img [src]="'assets/icons/person.png'" />
            </ion-avatar>
            <ion-label>
              <h3>nombre</h3>
            </ion-label>
            <ion-label>
              <p>item.email</p>
            </ion-label>
          </ion-item>
        </mat-expansion-panel>
    </mat-accordion>-->

  <!--<ion-list >
        <ion-avatar slot="start">
          <img [src]="'assets/icons/person.png'" />
        </ion-avatar>
        <ion-label>
          <h3>{{item.name}}</h3>
        </ion-label>
        <ion-label>
          <p>{{item.email}}</p>
        </ion-label>


      </ion-item>

  </ion-list>-->

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
