<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      Publicaciones
      <a (click)="presentModal()">
        <ion-icon name="add-circle" style="float:right;cursor:pointer;color:white">
        </ion-icon>

      </a>
        <!--<a [routerLink]="['/add']">
          <ion-icon name="add-circle-outline" style="float:right"></ion-icon>
        </a>-->

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >

      <ion-item *ngFor="let item of publications" lines="inset" >

      <ion-avatar slot="start" *ngIf="item.user.image && item.user.image.name">
        <img src="{{url+'image-user/'+item.user.image.name}}" />
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="!item.user.image">
        <img [src]="'assets/icons/person.png'" />
      </ion-avatar>
      <ion-label>
        <h3>{{item.user.name}}</h3>
      </ion-label>
      <ion-label>
        <p>{{item.text}}</p>
      </ion-label>

      </ion-item>

  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button (click)="morePublications()" *ngIf="!switchMore" style="display:block">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
