<ion-header>
  <ion-toolbar color="primary" style="width:100%">
    <ion-title class="title2">
      MENSAJES
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="slideMessages.slidePrev()">
        <ion-icon name="mail" ></ion-icon>
      </ion-button>
      <ion-button (click)="slideMessages.slideNext()">
        <ion-icon name="create" ></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()">
        <ion-icon name="add" ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides #slideMessages>


      <ion-slide >
        <ion-list style="width:100%" >
          <ion-item *ngFor="let message of messages">
            <ion-avatar slot="start" >
              <img [src]="'assets/icons/person.png'" />
            </ion-avatar>

            <ion-label style="min-width:25%;max-width:25%;margin:auto">
              <p style="font-size:12px">{{message.text}}</p>
              <p style="font-size:10px;color:#B3B3B3"></p>
            </ion-label>
            <ion-button size="small" fill="clear" style="position:absolute;top:0;right:0">
              <ion-icon name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>

          <!--<ion-button fill="clear" >
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-button>-->
        </ion-list>
      </ion-slide>


    <ion-slide>
      <ion-list style="width:100%">
        <ion-item *ngFor="let sended of sendedMessages">
          <ion-avatar slot="start" >
            <img [src]="'assets/icons/person.png'" />
          </ion-avatar>

          <ion-label style="min-width:25%;max-width:25%;margin:auto">
            <p style="font-size:12px">{{sended.text}}</p>
            <p style="font-size:10px;color:#B3B3B3">
            </p>
          </ion-label>



          <ion-button size="small" fill="clear" style="position: absolute;top:0;right:0">
            <ion-icon name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button fill="clear" >
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>
