.miitem {
  //min-height:100px
}
.ionheader-tab3 .ion_icon{
  color:#FFF;
}
.ionslide1-tab3 .text{
  color:#000 ;
}

.ionslide1-tab3 .text.viewed{
  color:#FFF ;
}

.ionslide1-tab3 .text,.ionslide2-tab3 .text{
  font-weight:bold;
  font-size:14px;
}

.ionlist-tab3 .skeleton_text{
  width:5%;
  height:20%;
  position:absolute;
  top:0;
  right:10px;
}
.ionlist-tab3 .skeleton_thumb{
  width:50%;
  height:50%;
  margin-top:15px;
  margin-left:10px;
}
.ionitem-tab3{
  background-color:#676767;
}


.ionitem-tab3 .ionbutton{
  position: absolute;top:0;right:0
}


