<ion-header class="">
  <ion-toolbar color="favorite" class="w100">
    <ion-thumbnail slot="start" size="5">
      <img src="assets/logobxrs_completoG.png" />
    </ion-thumbnail>
    <ion-title class="title2">
      MENSAJES
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="slideMessages.slidePrev()" title="Mensajes recibidos">
        <ion-icon name="mail" class="c_white"></ion-icon>
      </ion-button>
      <ion-button (click)="slideMessages.slideNext()" title="Mensajes enviados">
        <!--<ion-icon name="mail-open" class="c_white"></ion-icon>-->
        <ion-icon name="send" class="c_white"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()" title="Nuevo mensaje">
        <ion-icon name="add-circle" class="c_white"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-slides #slideMessages [hidden]="!messages">
    <ion-slide class="ionslide1-tab3">


      <ion-list class="w100 p0" >
        <div *ngFor="let message of messages;let i=index" lines="inset" class="b_gris" [hidden]="itmReceived[i]">
          <ion-item  class="ionitem-tab3" color="dark">
            <ion-avatar slot="start" >
              <img [src]="'assets/icons/person.png'" />
            </ion-avatar>

            <ion-label class="t_center w70" [ngStyle]="clickButton[i] ? {'white-space': 'normal'}:{'white-space':'nowrap'}">
              <p></p>
              <p class="f12 text ">{{message.text}}</p>
              <p></p>
              <!--<p style="font-size:10px;color:#B3B3B3"></p>-->
            </ion-label>
            <!--<ion-label style="min-width:25%;max-width:25%;margin:auto">
              <p style="font-size:12px">{{message.text}}</p>
              <p style="font-size:10px;color:#B3B3B3"></p>
            </ion-label>-->
            <ion-button size="small" fill="clear" (click)="deleteMessage(message._id,i,'received')" class="ionbutton" >
              <ion-icon name="ellipsis-horizontal-outline" slot="icon-only" class="c_white"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="showMore(i,'received');" class="pt_15">
              <ion-icon name="caret-up-outline" *ngIf="clickButton[i]" class="c_white"></ion-icon>
              <ion-icon name="caret-down-outline" *ngIf="!clickButton[i]" class="c_white"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
        <!--<ion-button fill="clear" >
          <ion-icon name="caret-down-outline"></ion-icon>
        </ion-button>-->
      </ion-list>

    </ion-slide>


    <ion-slide class="ionslide2-tab3">
      <ion-list class="w100 p0">
        <div *ngFor="let sended of sendedMessages;let i=index" lines="inset" class="b_gris" [hidden]="itmSended[i]">
          <ion-item class="ionitem-tab3" color="dark">
            <ion-avatar slot="start" >
              <img [src]="'assets/icons/person.png'" />
            </ion-avatar>

            <ion-label class="t_center w70" [ngStyle]="clickButton2[i] ? {'white-space': 'normal'}:{'white-space':'nowrap'}">
              <p></p>
              <p class="f12 text">{{sended.text}}</p>
              <p></p>
            </ion-label>



            <ion-button size="small" fill="clear" class="ionbutton" (click)="deleteMessage(sended._id,i,'sended')">
              <ion-icon name="ellipsis-horizontal-outline" slot="icon-only" class="c_white"></ion-icon>
            </ion-button>

            <ion-button fill="clear" (click)="showMore(i,'sended');" class="pt_15">
              <ion-icon name="caret-up-outline" *ngIf="clickButton2[i]" class="c_white"></ion-icon>
              <ion-icon name="caret-down-outline" *ngIf="!clickButton2[i]" class="c_white"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>



  <div [hidden]="messages">
    <ion-header style="" >
      <ion-toolbar class="w100 t_center">
        RECIBIDOS
      </ion-toolbar>
    </ion-header>
    <ion-list class="w_100 ionlist-tab3" >
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="t_center w80">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated class="skeleton_text"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="t_center w80">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated class="skeleton_text"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="t_center w80">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated class="skeleton_text"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="t_center w80">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated class="skeleton_text"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="t_center w80">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated class="skeleton_text"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="t_center w80">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated class="skeleton_text"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label class="t_center w80">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated class="skeleton_text"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated class="skeleton_thumb"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <!--<ion-button fill="clear" >
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>-->
    </ion-list>
  </div>

</ion-content>
