<ion-header>
  <ion-toolbar color="tertiary" style="width:100%">
    <ion-thumbnail slot="start" size="5">
      <img src="assets/logobxrs_completo.png" />
    </ion-thumbnail>
    <ion-title class="title2">
      MENSAJES
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="slideMessages.slidePrev()" title="Mensajes recibidos">
        <ion-icon name="mail" ></ion-icon>
      </ion-button>
      <ion-button (click)="slideMessages.slideNext()" title="Mensajes enviados">
        <ion-icon name="create" ></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()">
        <ion-icon name="add" ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-slides #slideMessages [hidden]="!messages">
    <ion-slide >


      <ion-list style="width:100%;padding:0" >
        <div *ngFor="let message of messages;let i=index" lines="inset" >
          <ion-item  >
            <ion-avatar slot="start" >
              <img [src]="'assets/icons/person.png'" />
            </ion-avatar>

            <ion-label style="text-align: center;width:70%;" [ngStyle]="clickButton[i] ? {'white-space': 'normal'}:{'white-space':'nowrap'}">
              <p></p>
              <p style="font-size:12px">{{message.text}}</p>
              <p></p>
              <!--<p style="font-size:10px;color:#B3B3B3"></p>-->
            </ion-label>
            <!--<ion-label style="min-width:25%;max-width:25%;margin:auto">
              <p style="font-size:12px">{{message.text}}</p>
              <p style="font-size:10px;color:#B3B3B3"></p>
            </ion-label>-->
            <ion-button size="small" fill="clear" (click)="settingsPopover(item._id,i)" style="position: absolute;top:0;right:0" >
              <ion-icon name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="showMore(i);" style="padding-top:15px">
              <ion-icon name="caret-up-outline" *ngIf="clickButton[i]"></ion-icon>
              <ion-icon name="caret-down-outline" *ngIf="!clickButton[i]"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
        <!--<ion-button fill="clear" >
          <ion-icon name="caret-down-outline"></ion-icon>
        </ion-button>-->
      </ion-list>

    </ion-slide>


    <ion-slide>
      <ion-list style="width:100%;padding:0">
        <div *ngFor="let sended of sendedMessages">
          <ion-item >
            <ion-avatar slot="start" >
              <img [src]="'assets/icons/person.png'" />
            </ion-avatar>

            <ion-label style="text-align: center;width:70%">
              <p></p>
              <p style="font-size:12px">{{sended.text}}</p>
              <p></p>
            </ion-label>



            <ion-button size="small" fill="clear" style="position: absolute;top:0px;right:0">
              <ion-icon name="ellipsis-horizontal-outline" slot="icon-only"></ion-icon>
            </ion-button>

            <ion-button fill="clear" style="padding-top:15px">
              <ion-icon name="caret-down-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
    </ion-slide>
  </ion-slides>



  <div [hidden]="messages">
    <ion-header style="" >
      <ion-toolbar style="width:100%;text-align: center;">
        RECIBIDOS
      </ion-toolbar>
    </ion-header>
    <ion-list style="width:100%" >
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="text-align: center;width:80%;">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated style="width:5%;height:20%;position:absolute;top:0;right:10px"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated style="width:50%;height:50%;margin-top:15px;margin-left:10px"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="text-align: center;width:80%;">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated style="width:5%;height:20%;position:absolute;top:0;right:10px"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated style="width:50%;height:50%;margin-top:15px;margin-left:10px"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="text-align: center;width:80%;">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated style="width:5%;height:20%;position:absolute;top:0;right:10px"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated style="width:50%;height:50%;margin-top:15px;margin-left:10px"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="text-align: center;width:80%;">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated style="width:5%;height:20%;position:absolute;top:0;right:10px"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated style="width:50%;height:50%;margin-top:15px;margin-left:10px"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="text-align: center;width:80%;">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated style="width:5%;height:20%;position:absolute;top:0;right:10px"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated style="width:50%;height:50%;margin-top:15px;margin-left:10px"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="text-align: center;width:80%;">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated style="width:5%;height:20%;position:absolute;top:0;right:10px"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated style="width:50%;height:50%;margin-top:15px;margin-left:10px"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label style="text-align: center;width:80%;">
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-skeleton-text animated style="width:5%;height:20%;position:absolute;top:0;right:10px"></ion-skeleton-text>
        <ion-thumbnail slot="end">
          <ion-skeleton-text animated style="width:50%;height:50%;margin-top:15px;margin-left:10px"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-item>
      <!--<ion-button fill="clear" >
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>-->
    </ion-list>
  </div>

</ion-content>
