<!--<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="title">
      IONIC RRSS
    </ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-content color="favorite2">
  <div class="home_super_title">
    <img src="assets/smartphone.png" width="1000"  style=""/>
  </div>
  <div class="w100 h100 t_center p_absolute" >
    <h1 class="subtitle" #subtitle>Comparte tus ideas en tu red social favorita</h1>
  </div>
  <div class="w100 h100 p_absolute" >

    <div class="home_title" >
      <div style="">
        <h1 class="welcome"  #welcome></h1>

      </div>
      <div >

      </div>

      <div class="p_logo_full" >
        <div class="logo_full" >
            <div class="image" [ngStyle]="switchLogo ? {'opacity':'1'}:{'opacity':'0'}">
              <img   src="assets/logobxrs_solofondoG.png" />
            </div>

            <div class="image2" [ngStyle]="switchLogo2 ? {'opacity':'1'}:{'opacity':'0'}">
              <img   src="assets/logobxrs_solotextoG.png" />
            </div>

            <div class="image3" [ngStyle]="switchLogo3 ? {'opacity':'1'}:{'opacity':'0'}">
              <img   src="assets/logobxrs_completoG.png" />
            </div>

          </div>
      </div>

    </div>
  </div>
  <div id="container" #buttonshome *ngIf="!login" [ngStyle]="switchLogo4 ? {'opacity':'1'}:{'opacity':'0'}">
    <ion-grid>
      <ion-row class="ion-align-self-center">
        <ion-col>
          <button mat-raised-button class="favorite_button" [routerLink]="['/login']">
            LOGIN
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col >
          <button mat-raised-button class="favorite_button"  [routerLink]="['/register']">
            REGISTRARSE
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="margin-top:50px">
      <p style="text-align:center;color:#000">Disponible en APK</p>
      <a href="#" mat-raised-button class="favorite_button mt_10" >
        APK
      </a>
    </div>
  <!--<strong>Ready to create an app?</strong>
  <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
</div>
</ion-content>

